/*******
COLOR CHEAT SHEET
https://coolors.co/000000-0c1821-0e1b25-101d29-121f2d-142131-1b2a41-324a5f-7f8a9e-ccc9dc
000000- black 
0c1821- ink black 
0e1b25- ink black 
101d29- ink black 
121f2d- ink black 
142131- prussian blue
1b2a41- prussian blue




*****/



/************************/
/******** FONTS *********/
/************************/
body,p,div{
      font-family: "Sekuya", system-ui;
}
h1,h2,h3,h4,h5,h6{
      font-family: "Boogaloo", sans-serif;
}

/************************/
/******** HERO *********/
/************************/

header.masthead {
      background: url(https://images7.alphacoders.com/422/thumb-1920-422148.jpg);
      background-size: cover;
}

.masthead h1 {
      color: white;
      text-shadow: 20px 10px 10px black ;
      font-size: 150px !important;
}

.masthead p {
      color: rgb(255, 255, 255);
      font-weight: 900;
      text-shadow: 1px 1px 2px black;
}

.masthead .col-lg-8:first-of-type{
      background: rgba(255, 255, 255, 0.517);
      padding: 20px;
      border-radius: 20px;
 }